@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
/*font-family: 'Fraunces', serif;*/

*{
    font-family: 'Fraunces', serif;
    --text-color: #fff;
    --background-color: #224870;
    --background-color-calculator: #00916e;
    --shadow-calculator: #00000033;
    --shadow-buttons: #00000040;
    --shadow-buttons2: #00ffc11f;
    --background-buttonActive: #006f54;
    --background-screen: #363636;
    color: var(--text-color);
}

body{
    margin: 0;
    background-color: var(--background-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 160px repeat(5,75px);
    background-color: var(--background-color-calculator);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0 5px var(--shadow-calculator);
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0px;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: var(--background-color-calculator);
    box-shadow: 5px 5px 10px -3px var(--shadow-buttons), -5px -5px 15px 3px var(--shadow-buttons2);
}

button:active{
    background-color: var(--background-buttonActive);
}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    background-color: var(--background-screen);
    margin: 2px 2px 20px;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: -4px -4px 0px 3px var(--shadow-buttons), 1px 1px 5px 1px var(--background-buttonActive);
}

#current-Value{
    font-size: 2em;
}
#previous-Value{
    font-size: 1.4em;
}